<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Komentiraj dijabetologa </title>

<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
<link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

<link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">

<link rel="stylesheet" href="loading.css">

</head>

<body>

<!-- loader -->
<div id="loading">
	<!-- <img id="loading-image" src="loading.gif" alt="Loading..." /> -->
</div>  

<div id="app">
 <v-app>

  <v-toolbar dark flat dense color="primary">
    <v-toolbar-title class="white--text">Komentiraj dijabetologa</v-toolbar-title>
    <div slot="extension">{{whoami}}</div>
    <v-spacer slot="extension"></v-spacer>
    <v-btn slot="extension" flat icon color="white" :disabled="!validComment" v-show="step==3" @click.prevent="submit"><v-icon>save</v-icon></v-btn>
    <v-btn slot="extension" flat icon color="white" @click.native="restart"><v-icon>cached</v-icon></v-btn>
    <div v-if="!unauthenticated" slot="extension"><v-btn flat icon color="white" @click.native="logout"><v-icon>fa-sign-out-alt</v-icon></v-btn></div>
  </v-toolbar>

   
  <!-- content -->
    <v-content>

  		<v-container>

        <div v-if="unauthenticated">
          <v-layout>
            <v-flex xs12 sm6 offset-sm3>
              <v-card>
                <v-card-media src="locked.jpeg" height="200px">
                </v-card-media>
                <v-card-title primary-title>
                  <div>
                    <h3 class="headline mb-0">Potrebna je identifikacija</h3>
                    <div>Za korištenje ove usluge se trebate identificirati. Možete koristiti vaše korisničke podatke Google ili Facebook sustava<br>Koje podatke želite koristiti?</div>
                  </div>
                </v-card-title>
                <v-card-actions>
                  <v-btn flat color="primary" @click.native="googleLogin">Google</v-btn>
                  <v-btn flat color="primary" @click.native="alert('Nije još implemntirano :(')">Facebook</v-btn>
                </v-card-actions>
              </v-card>
            </v-flex>
          </v-layout>
        </div>
        <div v-else>

           <!-- alert ako postoji se vidi ovdje -->
          <div v-if="errorMsg">
            <v-alert :value="true" outline color="error" icon="warning">
              {{errorMsg}}
            </v-alert>
          </div>    
          <div v-else>  
            <v-stepper v-model="step" vertical>
              <v-stepper-header>
                <v-stepper-step step="1" :complete="step > 1"></v-stepper-step>
                <v-divider></v-divider>
                <v-stepper-step step="2" :complete="step > 2"></v-stepper-step>
                <v-divider></v-divider>
                <v-stepper-step step="3" :complete="step > 3"></v-stepper-step>
                <v-divider></v-divider>
                <v-stepper-step step="4"></v-stepper-step>
              </v-stepper-header>
              <v-stepper-items>
                    
        <!-- STEP 1 -->
                <v-stepper-content step="1">
                 <v-select id="clinic" :items="clinics" v-model="registration.clinic" item-text="clinicname" label="Klinika" v-on:input="loadDoctors" autocomplete ></v-select>
                                 
                </v-stepper-content>
                     
        <!-- STEP 2 -->
                <v-stepper-content step="2">
                	<v-subheader>{{registration.clinic.clinicname}}, {{registration.clinic.address}} </v-subheader>
                  <v-select id="doctor" :items="doctors" v-model="registration.doctor"  item-text="name" label="Doktor" v-on:input="gotoComments" autocomplete ></v-select>
                  
                </v-stepper-content>

        <!-- STEP 3 -->
                <v-stepper-content step="3">
                	<v-subheader>{{registration.clinic.clinicname}}, {{registration.clinic.address}},</v-subheader>
                	<v-subheader>{{registration.doctor.name}}</v-subheader>

                  <v-form v-model="validComment">
                  <v-text-field id="comment" label="Komentar"
                                v-model="registration.comment" multi-line auto-grow :rules="requiredComment" required></v-text-field>
                  </v-form>
                  <v-select id="rating" :items="ratings" item-text="text" v-model="registration.stars" v-on:input="readyToSubmit" label="Ocjena" ></v-select>
                  
                   <v-card-actions>
                 <v-spacer></v-spacer><v-btn id="submitBtn" flat color="primary" :disabled="!validComment" @click.prevent="submit">Spremi</v-btn>
                    </v-card-actions>

                </v-stepper-content>

        <!-- STEP 4 -->
                <v-stepper-content step="4">

                  <v-card>
                    <v-card-title primary-title>
                        <h3 class="headline mb-0">Zahvaljujemo na Vašem unosu</h3>
                    </v-card-title>
                    <v-card-text>{{registration.clinic.clinicname}}, {{registration.clinic.address}},<br>
                    {{registration.doctor.name}},<br>
                    Vaš komentar: {{registration.comment}}<br>
                    Ocjena: <span v-for="n in registration.stars"> <v-icon small color="red">fa-tint</v-icon>
                    </span>
                   </v-card-text>
                  
                    <v-card-actions>
                      <v-btn id="logoutBtn" flat color="primary" :disabled="unauthenticated" @click.prevent="logout">Odjavi se</v-btn>
                    </v-card-actions>
                  </v-card>
            
                </v-stepper-content>
              </v-stepper-items>
           </v-stepper> 
          </div> 
        </div>
          
      </v-container>    
      
    </v-content>


  <footercomponent></footercomponent>


  </v-app>

 </div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
<script src="https://unpkg.com/vuetify/dist/vuetify.min.js"></script>
<script src="components/footer.js"></script>
<script src="main.js"></script>


</body>

</html>